WebSocket client header SecWebSocketKey should be 16-bytes

I am having issues connecting to some websocket servers using the websocket client.

After investigation it turned out to be a handshake issue where the server-side expected a 16-byte base64 encoded key, but the current client implementation creates a nonce of 24 bytes.

https://github.com/ktorio/ktor/blob/69732c062551281003074f46d0d9cfdac2ad3bf3/ktor-client/ktor-client-features/ktor-client-websocket/jvm/src/io/ktor/client/features/websocket/WebSocketContent.kt#L10

According to RFC 6455 (https://tools.ietf.org/html/rfc6455#section-4.1):
> 7.   The request MUST include a header field with the name
        |Sec-WebSocket-Key|.  The value of this header field MUST be a
        nonce consisting of a randomly selected 16-byte value that has
        been base64-encoded (see Section 4 of [RFC4648]).  The nonce
        MUST be selected randomly for each connection.

Hi @rogro82, thanks for the report. 
It's obviously a bug and would be fixed in next minor release.