Url unexpectedly adds trailing slash if there is no path

`Url` should not add a trailing slash to a path-less URL on its own.

[RFC 1738 section 3.3](https://tools.ietf.org/html/rfc1738#section-3.3) states:
>`http://<host>:<port>/<path>?<searchpart>`
>…
> If neither `<path>` nor `<searchpart>` is present, the `/` may also be omitted.

For us this caused an unexpected issue when combining URLs with string concatenation, for example in a Freemarker template:
`${url}/image.png` (with `url` being `Url("https://example.com")`) would unexpectedly result in `https://example.com//image.png`.

Note that it works correctly with `java.net.URL`.

### Example
```kotlin
Url("http://google.com").toString()
```

### Expected
```kotlin
"http://google.com"
```

### Actual
```kotlin
"http://google.com/"
```

Ktor 1.2.2