[client] Masking for WS should be enabled by default

According [RFC 6455 section 5.1](https://tools.ietf.org/html/rfc6455#section-5.1):

>  a client MUST mask all frames that it
>  sends to the server (see Section 5.3 for further details).  (Note
>  that masking is done whether or not the WebSocket Protocol is running
>  over TLS.)  The server MUST close the connection upon receiving a
>  frame that is not masked. 

I think client should conform RFC and enable masking by default unless user requested to disable masking. Currently it disabled by default.

Hi, @Prototik. Thanks for the report, would be fixed soon

Fixed in `master`